<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Homepage</title>
</head>
<div class="row">
	<div class="col-lg-3 logo">
		<a href="/" title="Home" rel="home" id="logo"> <img
			src="static/resources/techmileage-logo.gif" alt="Home">
		</a>
	</div>

	<div class="col-lg-9" style="padding-left: 550; padding-top: 15;">
		<!--Sof Nav-->
		<nav class="navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<i class="glyphicon glyphicon-align-justify"></i>
				</button>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#/" class="navlink" title=""></font>Product
							Demo</a>
					</li>

					<li class="dropdown"><a class="navlink" href="#/">About
							Us</a></li>

					<li class="dropdown"><a class="navlink" href="#/">Contact
							Us</a></li>
							<li><a class="navlink" href="#/loginpage">Login
							</a></li>
				</ul>
			</div>
		</nav>
		<!--Eof Nav-->
	</div>

</div>
<div
	style="background-image: url(static/resources/SaBackground.jpg); background-size: 100%; background-repeat: no-repeat; height: 100%;">
	<center>
		<div class="row" style="padding-top: 260px">
			<button type="Log In" class="btn btn-primary"
				style="width: 200px; font-size: 20px; margin-right: 10px; border-radius: 10px;"
				ng-click="loginpage()">
				<b>Log In..</b>
			</button>
			<button type="Log In" class="btn btn-primary"
				style="width: 200px; font-size: 20px; margin-left: 10px; border-radius: 10px;"
				ng-click="signuppage()">
				<b>Sign Up!!</b>
			</button>
		</div>
	</center>


</div>
<div class="panel-row-style-default panel-row-style"
	style="padding-top: 50px; padding-bottom: 50px;">
	<div class="container">
		<div class="col-lg-6">
			<div
				class="panel-builder widget-builder widget_origin_spacer panel-first-child"
				id="panel-2067-3-0-0">
				<div
					class="origin-widget origin-widget-spacer origin-widget-spacer-simple-blank">
					<div style="margin-bottom: 115px;"></div>
				</div>
			</div>
			<div class=""
				>
				<div class="textwidget">
					<div class="fea_heading">SOCIAL MEDIA LISTENING</div>
				</div>
			</div>
			<div
				class="well well-sm panel-builder widget-builder widget_text panel-last-child"
				id="panel-2067-3-0-2">
				<div class="textwidget">
					<div class="fea_list">We connect with all social media
						platforms and major review sites to collect real time information
						about your brand.</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel-builder widget-builder widget_origin_animated-image panel-first-child panel-last-child">
				<div
					class="origin-widget origin-widget-animated-image origin-widget-animated-image-default-default align-center">
					<img src="static/resources/social_media_listening.png"
						class="animated bounce animateddone" alt=""
						style="visibility: visible; animation-name: bounce;">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel-row-style-default panel-row-style"
	style="padding-top: 50px; padding-bottom: 50px;">
	<div class="container">
		<div class="col-lg-6" id="pgc-2067-4-0">
			<div
				class="panel-builder widget-builder widget_origin_animated-image panel-first-child panel-last-child"
				id="panel-2067-4-0-0">
				<div
					class="origin-widget origin-widget-animated-image origin-widget-animated-image-default-default align-center">
					<img src="static/resources/automated_message_routing.png"
						class="animated bounce animateddone" alt=""
						style="visibility: visible; animation-name: bounce;">
				</div>
			</div>
		</div>
		
		<div class="col-lg-6" id="pgc-2067-4-1">
			<div
				class="panel-builder widget-builder widget_origin_spacer panel-first-child"
				id="panel-2067-4-1-0">
				<div
					class="origin-widget origin-widget-spacer origin-widget-spacer-simple-blank">
					<div style="margin-bottom: 115px;"></div>
				</div>
			</div>
			<div>
				<div class="textwidget">
					<div class="fea_heading">INTELLIGENT CASE ROUTING</div>
				</div>
			</div>
			<div
				class="well well-sm panel-builder widget-builder widget_text panel-last-child"
				id="panel-2067-4-1-2">
				<div class="textwidget">
					<div class="fea_list">We have mastered the art of data
						collection, intelligent segmentation and automated assignment of
						cases into designated workbaskets.</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel-row-style-default panel-row-style"
	style="padding-top: 50px; padding-bottom: 50px;">
	<div class="container">
		<div class="col-lg-6" id="pgc-2067-4-0">
			<div
				class="panel-builder widget-builder widget_origin_animated-image panel-first-child panel-last-child"
				id="panel-2067-4-0-0">
				<div
					class="origin-widget origin-widget-animated-image origin-widget-animated-image-default-default align-center">
					<img src="static/resources/crm_dashboard.png"
						class="animated bounce animateddone" alt=""
						style="visibility: visible; animation-name: bounce;">
				</div>
			</div>
		</div>
		
		<div class="col-lg-6" id="pgc-2067-4-1">
			<div
				class="panel-builder widget-builder widget_origin_spacer panel-first-child"
				id="panel-2067-4-1-0">
				<div
					class="origin-widget origin-widget-spacer origin-widget-spacer-simple-blank">
					<div style="margin-bottom: 115px;"></div>
				</div>
			</div>
			<div>
				<div class="textwidget">
					<div class="fea_heading">REAL-TIME CRM DASHBOARD</div>
				</div>
			</div>
			<div
				class="well well-sm panel-builder widget-builder widget_text panel-last-child"
				id="panel-2067-4-1-2">
				<div class="textwidget">
					<div class="fea_list">Managers can have a birds eye view of the entire customer service process using our real-time dashboard and discover performers and laggers</div>
				</div>
			</div>
		</div>
	</div>
</div>

</html>