<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<style>
		.center{
			margin-left: 314px;
		}

		.boxes{
			border-style: solid;
			border-radius: 5px;
		}		
		.clr{
			color: white;
		}
		.bor{
			margin-top: 120px; 
			width: 400px; 
			border: 2px; 
			border-radius: 10px; 
			background-color: #1d1a1a;
			margin-right: 200px;

		}
	</style>
</head>
<div style="background-color: #c0c0c0; background-image: url(static/resources/analytics-background-4.jpg); background-repeat: no-repeat; background-size: cover; align-content: center center;height:100%;">

	<div class="container bor">
		<form style="margin-top: 10px;" name="signupform" novalidate>
			<center>
				<h1 style="margin-top: 20px; margin-bottom: 20px; font-weight: bold;" class="clr">Sign Up</h1>
				<div class="form-group">
					<label class="clr" style="font-size: 16px;">Email</label>
					<input class="form-control" type="email" name="emailid" name="emailid" placeholder="Provide you email id" ng-required="true" ng-model="logindetails.email" style="width: 300px; border-radius: 5px;">
				<span class="help-block" ng-show="signupform.emailid.$invalid && !signupform.emailid.$pristine"
						class="help-block">Valid Email is required.</span>
				</div>
				<div class="form-group">
					<label class="clr" style="font-size: 16px;">Full Name</label>
					<input class="form-control" type="text" name="fullname" placeholder= "Name" ng-model="logindetails.fullName" ng-required="true" style="width: 300px; border-radius: 5px;">
				<span class="help-block" ng-show="signupform.fullname.$invalid && !signupform.fullname.$pristine"></span>
				</div>
				<div class="form-group">
					<label class="clr" style="font-size: 16px;">Password</label>
					<input class="form-control" type="password" name="password" ng-minlength="5" placeholder= "Password must  be atleast 6 character" ng-model="logindetails.password" ng-required="true"  style="width: 300px; border-radius: 5px;">
				<span class="help-block" ng-show="signupform.password.$invalid && !signupform.password.$pristine"
						class="help-block">Please enter password</span>
				</div>
				<div class="form-group">
					<label class="clr" style="font-size: 16px;">Confirm Password</label>
					<input class="form-control" type="password" ng-minlength="5" name="password" ng-model="logindetails.confirmpassword"ng-required="true" style="width: 300px; border-radius: 5px;">
				</div>
				<div class="form-group">
					<button class="btn btn-success" ng-disabled="!signupform.$valid" ng-click="saveUser()" style="font-size: 16px; font-weight: bold; margin-top: 10px; width: 120px;">Register</button>
				</div>
				<div style="color: white; display: inline;">
					<p>Already have an account? <a style="color: white; font-family: ; text-decoration: none;" href="#/loginpage"><b>Login</b></a></p>
				</div>
			</center>
		</form>
	</div>
	
</div>
</html>